extends layout

block content
  h1 Alarm System Status
   #container.col
    h2 Search
    p Try searching for "homeid".
    input(type='search')

    #here_table
      
    pre
    script(src='client.js')
